<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>O MENI</title>
        <meta name="description" content="O MENI">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <h1>MOJE IME</h1>
        <h2>Tukaj lahko preberes vec o meni</h2>
        

        
        <p>
            lorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsum
        /p>
        

        <p>
            <em> lorem ipsum.</em>

        </p>orem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsum
        orem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsum



        <ul>
            <li><a href="/home">Domov</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projekti">Moji projekti</a></li>

        </ul>
        
    </body>
</html>
