<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MOJI PROJEKTI</title>
        <meta name="description" content="projekti">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>

        <h1>PROJEKTI</h1>
        <h2>Tukaj so zbrani vsi moji projekti</h2>



        <p>
            lorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsum
        /p>


        <p>
            <em> lorem ipsum.</em>

        </p>orem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsum
        orem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum lorem ipsum



        <ul>
            <li><a href="home.html">Domov</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
            <li><a href="omeni.html">O meni</a></li>
            <li><a href="blog.html">Moj blog</a></li>

        </ul>

    </body>
</html>
